body {
    margin: 10px;
}
.box {
    width: 200px;
    height: 200px;
    /* Usamos la funcion rgb() para definir el color de fondo entre 0 y 255*/
    /* si quieres transparencia, puedes usar rgba() entre 0 y 1 */
    background-color: rgba(201, 15, 15, 0.5);
    /* Puedes usar el formato hexadecimal, pero este no tiene el canal alpha. */
    /* Tambien puedes usar la función hsl() para definir el color */
    /* y puedes usar hsla() para definir el color con transparencia */
    background-color: hsla(82, 53%, 39%, 0.5);

    
}

/* Gradients */
.box2 {
    width: 200px;
    height: 200px;
    /* deberiamos usar background-image en lugar de background-color o
    background */
    background: linear-gradient(dodgerblue, yellow);
    /* por defecto, el gradiente es de arriba hacia abajo, pero podemos
    cambiarlo con el parametro to */
    background: linear-gradient(to right, dodgerblue, yellow);
    background: linear-gradient(to bottom right, dodgerblue, yellow);
    /* También podemos especificar los grados del gradiente para más control.*/
    background: linear-gradient(45deg, dodgerblue, yellow);
    /* También podemos definir el porcentaje de los colores en el gradiente */
    background: linear-gradient(45deg, dodgerblue 0%, yellow 90%);
    /* También podemos usar múltiples colores en el gradiente */
    background: linear-gradient(45deg, dodgerblue, yellow, tomato);
    /* También tienes el radial: */
    background: radial-gradient(circle, dodgerblue, yellow, tomato);
    /* declaramos el circle, porque si no por defecto tomará la forma de la cja, si deja
    de ser cuadrada, tomará la forma de un elipse */
    background: radial-gradient(circle at top left, dodgerblue, yellow);
}

.box3 {
    width: 200px;
    height: 200px;
  background: radial-gradient(circle, #ff7e5f, #ddf767);
  background-color: #ff7e5f; /* Fallback color */
}

.border {
    width: 600px;
    height: 600px;
    background: dodgerblue;
    /* Takes three values: width, style, and color */
    border: 10px dashed royalblue;
    /* You can also use border-top, border-right, border-bottom, and border-left
    y el orden importa, tambiñen puedes usar border-width */
    border-top: 20 solid royalblue; /* por lo general se usa este formato,
    solo ten en cuenta que tienes control de modificar todos los parámetros. */
    border-width: 10px, 20px; /* trbl: turbol, asi lo recuerdas */
    /* para el radio puedes usar px y % */
    border-radius: 10px;;
    border-radius: 100%;

}

#triangle-topright {
      width: 0;
      height: 0;
      border-top: 100px dashed transparent;
      border-right: 100px solid blue;
    }

.shadow {
    width: 500px;
    height: 200px;
    background: rgb(240, 232, 16);
    /* the first value is the horizontal offset, the second is the vertical offset,
    the third is the blur radius, and the fourth is the spread radius */
    /* is usas positivos, el shadow se desplaza hacia la derecha y hacia abajo,
    si usas negativos, se desplaza hacia la izquierda y hacia arriba */
    box-shadow: 10px 10px grey;
    /* si quieres tener un soft shadow, you have to put the shadow right below the element */
    box-shadow: 0 0 30px grey;
}

h1#heading {
    font-size: 100px;
    color: rgb(255, 255, 255);
    /*Las fucking comas, no las pongas, porque no son necesarias */
    text-shadow: 3px 3px 10px rgba(134, 8, 8, 0.2);
}