html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.card {
  border-radius: 30px;
  box-shadow: 0 0 20px 4px rgb(194, 206, 218);
  display: flex;
  flex-direction: column;
  font-family: Inter;
  height: 200px;
  overflow: hidden;
  width: 300px;
  transform: rotate(-5deg);
  transition: transform 0.15s ease-in-out;
}
.card:hover {
    transform: rotate(0);
}
.card__header {
  padding: 6% 3%;
  margin: 0;

}
.card__footer {
  align-items: center;
  background: #2a7b9b;
  background: linear-gradient(
    93deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 0%,
    rgba(241, 242, 157, 1) 100%
  );
  color: white;
  column-gap: 15px;
  display: flex;
  height: 100%;
  padding: 10px 30px;
}
.footer__pic {
  border-radius: 50%;
  border: 3px solid white;
  height: 60px;
  transition: transform 0.15s ease-in-out;
  width: 60px;
}

.footer__pic:hover {
transform: scale(1.15);
}

@media screen and (min-width: 700px) {
    .card {
        width: 500px;
        height: 350px;
    }
}
