html * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  height: 100vh;
  background-color: rgb(228, 232, 235);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.5s, box-shadow 0.5s;
}
input:focus {
  outline: 0;
  border-color: #ced4da;
  box-shadow: 0 0 0px 4px #b9d3fa;
}
button {
  width: 100%;
  background-color: dodgerblue;
  padding: 0.3rem;
  border-radius: 1rem;
  border: none;
  color: white;
}

h1 {
  text-align: center;
}
.rememberMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
}
input[type="checkbox"] {
  display: inline;
  width: 10px;
  box-shadow: none;
}

h1,
p {
  margin: 0.5rem;
}
h1 {
  font-size: 1.8rem;
}
p {
  font-size: 0.8rem;
}

@media screen and (min-width: 760px) {
  form {
    width: 300px;
  }
}

button:active {
  background-color: rgb(18, 127, 235);
}

/* TODO: */
/* FIXME: */
/*  */